
:root {
  --cor-fundo: #FAF9F6;       /* Fundo claro elegante */
  --cor-primaria: #8B0000;    /* Vinho escuro */
  --cor-secundaria: #C0A080;  /* Dourado suave */
  --cor-texto: #1C1C1C;       /* Quase preto */
  --cor-dourado: #C9a635;
  --cor-dourado1: #d4af37;
  --cor-quente: #a65f2b;
  --cor-quent1: #8c4e24;
}


/*body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

header {
  background-color: var(--cor-primaria);
}

button {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
}*/



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
    color: #1C1C1C;
}

.navbar {
    background-color: var(--cor-quente);
    padding: 20px;
    position: fixed;
    width: 100%;
    box-shadow:  0px  10px 30px 2px rgba(0, 0, 0, 0.219);
    display: flex;
    justify-content: space-between;
}

.navbar h1 {
    color: white;
}


nav {
    display: flex;
    list-style: none;
}

.navbar nav a { 
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    transition:  color all 11s;
    transition: color 0.3s;
    font-family: Playfair Display;
}

.navbar nav a:hover {
    color: black;
    text-decoration: underline;
}

.menu {
    display: flex;
    gap: 20px;
    padding-right: 160px;
}

.hamburguer {
    display: none;
    font-size: 35px;
    cursor: pointer;
    color: white;
}

.hero {  
    display: grid;
    grid-template-columns: 20px, repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    background-color: white;
    box-shadow: 0px  1px 10px 2px rgba(0, 0, 0, 0.048);
}

.slide  {
   grid-column: 4/6;
   grid-row: 1/2;
   padding-top: 100px;
}

.slide img {
    width: 92%;  
}

.textop {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 30px;
    padding-left:108px;
}

.textop button {
    background-color: var(--cor-quente);
    border: none;
    padding: 10px;
    font-size: 17px;
    width: 200px;
    border-radius: 6px;
    transition: all 0.3s ;
    color: white;
    font-weight: 600;
}

.textop button:hover {
    cursor: pointer;
    background-color: var(--cor-quent1);
    transform: scale(1.07);
}

.textop h2 {
    padding-top: 150px;
    font-size: 50px; 
    color: var(--cor-quente);  
}

.textop p {
    padding-bottom: 110px;
    font-size: 30px; 
    color: var(--cor-quente);
}

h1, h2 {
    font-family: 'Playfair Display',serif;
    
}

button {
    font-family: 'Poppins',sans-serif;
}

p, body {
    font-family: 'Open Sans', sans-serif;
}

.containere {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url('Compress_20250901_162147_7485\ \(2\).jpg');
    box-shadow: inset 0px  0px 20px 15px rgba(0, 0, 0, 0.075);
}

.sobre-nos {
    display: grid;
    gap: 20px;
    padding: 30px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(200px, 2, 1fr);
}

.sobre-nos h1 {
    color: white;
    text-align: center;
    margin: 14px;
    font-size: 50px;
    grid-column: 1/5;
    grid-row: 1/2;
}

#sobrep1 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#sobrep2 {
    grid-column: 3/4;
    grid-row: 2/3;
}

#sobrep3 {
    grid-column: 3/4;
    grid-row: 3/4;
}

#sobrep4 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.sobre-nos p {
    color: var(--cor-texto);
    font-size: 20px;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
    box-shadow:  2px  4px 10px 4px rgba(255, 255, 255, 0.116);
    transition: all 0.5s ease-in-out;
}

.sobre-nos p:hover {
    cursor: pointer;
    background-color: white;
    color:  rgba(0, 0, 0, 0.877);
    box-shadow:  2px  4px 10px 4px rgba(0, 0, 0, 0.521);
}

.comentarios {
    padding-top: 40px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr; 
    box-shadow:   0px  10px 10px 2px rgba(0, 0, 0, 0.034);
    margin-left: -20px;
}

.comentarios h1 {
    padding: 30px;
    grid-row:1/2;
    grid-column: 1/5;
    font-size: 2.2em;
    text-align: center;
    color: var(--cor-quente);
}

.card {
    grid-row:2/3;
    background-color: #FAF9F6;
    margin: 10px;
    border-radius: 4px;
    padding: 40px;
    width: 300px;
    box-shadow:  2px  4px 10px 4px rgba(0, 0, 0, 0.185);
    transition:  all 0.2s ease-in-out;
}

.card:hover {
    cursor: pointer;
    background-color: #cf8f5028;
    transform: scale(0.9);
}

.card h3 { 
    color: var(--cor-quente);
    font-style: italic;
}

.container {
    padding-top: 40px;
    padding: 50px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr;
    box-shadow:  0px  0px 1px 15px rgba(0, 0, 0, 0.048);
}

.coluna h3 {
    color: var(--cor-quente);
}

.coluna  {
    padding: 12px;
}

.coluna p a {
    color: var(--cor-texto);
    transition: all 0.3s;
}

.coluna p a:hover {
    color: var(--cor-quente);
    font-weight: bold;
}

.coluna ul  {
   list-style: none;
}

.coluna ul a {
    color: var(--cor-texto);
    transition: all 0.3s;
}

.coluna ul a:hover {
    color: var(--cor-quente);
    font-weight: bold;
}

#fade-in {
  opacity: 0;
  transform: translateY(50px) scale(0.98);
  transition: all 3s ease;
}

#fade-in.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

#comidas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-top: 10px;
    gap: 10px;
}

#bebidas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding-bottom: 50px;
}


#comidas img, #bebidas img {
    width: 100%;
    height: 160px;
    border-radius: 6px;
    object-fit: cover;
}

#comidas img:hover {
    scale: 0.9;    
}

#bebidas img:hover {
    scale: 0.9;    
}

.item {
    background-color:  #cf8f5028;
    width: 220px;
    height: 380px;
    margin: 20px;
    border-radius: 6px;
    box-shadow:  3px  5px 12px 5px rgba(0, 0, 0, 0.274);
    padding: 1px;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;
}

.item:hover {
    background-color: #cf8f503f;
    scale: 0.9;
}

.h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.616);
    font-size: 50px;
    text-align: center;
    padding: 90px;
    border-radius: 6px;
}

#h22 {
    color: var(--cor-quente);
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

#h2 {
    background-image:url('Compress_20250901_162158_8806.jpg');
    padding: 50px;
}

.item h3 {
    color: var(--cor-quente);
    padding: 15px;
}

.item span {
    font-weight: bold;
    color: var(--cor-quente);
}

.item p {
    font-weight: bold;
    padding: 15px;
}

.item button {
    padding: 10px 20px;
    background-color: var(--cor-dourado);
    border: none;
    border-radius: 6px;
    margin: 15px;
    font-weight: bold;
    border: 1px solid black;
    transition: background-color ease-in 0.3s;
}

.item button:hover {
    cursor: pointer;
    background-color: black;
    color: var(--cor-dourado);
    border: 1px solid var(--cor-dourado);
}

.reserva {
    padding-top: 40px;
    background-color: #FAF9F6;
    display: flex;
    padding: 50px;
}

.reserva div {
    width: 50%;
    box-shadow:  -5px  5px 12px 5px rgba(0, 0, 0, 0.185);
}

form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 50%;
    box-shadow:  3px  5px 12px 5px rgba(0, 0, 0, 0.185);
}


    .infoo {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.infop {
        padding: 50px;
        margin: 15px;
        padding-left: 20px;
        background-color: rgba(255, 255, 255, 0.445);
        margin-bottom: 50px;
        box-shadow:  3px  5px 12px 5px rgba(0, 0, 0, 0.308);
        border: 1px solid rgba(0, 0, 0, 0.425);
        border-radius: 8px;
        text-align: center; 
        font-weight: bold;
        color: var(--cor-quente);
        transition: background-color ease-in-out 0.3s;   
    }

    .infop:hover {
        cursor: pointer;
        color: white;
        background-color: var(--cor-quente);
    }

 #fotform  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
   input,textarea,select {
    padding: 10px;
    border:2px solid var(--cor-dourado);
    margin: 5px;
    border-radius: 8px;
    width: 100%;
    font-weight: bold;
}

input,textarea,select:focus {
    background-color: white;
}

    label {
        font-weight: bold;
        color: var(--cor-quente);
        padding: 10px;
    }

  .reserva button {
    padding: 10px;
    width: 100%;
    margin: 5px;
    border-radius: 8px;
    background-color: var(--cor-quente);
    border: 1px solid black;
    font-weight:bold;
    color: white;
    transition: background-color ease-in 0.3s ;
}

.reserva button:hover {
    cursor: pointer;
    background-color: var(--cor-quent1);
    border: 2px solid black;
}

.infoo {
    padding: 10px;
    margin: 10px;
}


    #h1 {
        background-image:url("Compress_20250901_162148_8877.jpg") ;
        padding: 40px;
    }

    #h1 h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.61);
    font-size: 50px;
    text-align: center;
    padding: 90px;
    border-radius: 6px;
    }

 .coluna  a > i {
    color: rgba(0, 0, 0, 0.808);
    display: flex;
    flex-direction: column;
    transition: color ease-in 0.3s;
    
}

#social a {
    text-decoration: none;
}

i {
    font-size: 1.8em;
    margin: 2px;
    opacity: 2;
}

 .coluna  a > i:hover {
    cursor: pointer;
    color: var(--cor-quente);
    font-size: 2em;
 }


footer {
    background-color: var(--cor-quente);
    padding: 20px;
}
